<html>
<head>
  <title>Video Cutter</title>
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.angularjs.org/1.7.9/angular.min.js">     </script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/appController.js"></script> 
<script src="scripts/services/fileUploadService.js"></script> 
<script src="scripts/directives/fileUploadDirective.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/fileUplaodController.js"></script>
<script src="scripts/directives/fileUploadDirective.js"></script>
<script src="scripts/services/fileUploadService.js"></script>

</head>



<!-- remove after testing -->


<body ng-app="app" ng-controller="appController">


  <div class="container">
  <!-- remove after testing -->
  <nav class="navbar navbar-dark bg-dark header">
    <a class="navbar-brand " href="#">FOSSEE DJANGO/ANGULAR TASK - 1</a>
  </nav>


<!-- remove after testing -->
<div ng-show="!filesLoaded" class="alert alert-danger m-4 error-message" role="alert">
  PLEASE SELECT FILES
 
</div>

<div ng-show="isError" class="alert alert-danger m-4" role="alert">
  SOMETHING WENT WRONG. TRY AGAIN!
 
</div>




<div class="btn-controls-top">
  <div class= "row d-flex justify-content-around" >

    <div class="col">
      <span class="badge badge-warning">VIDEO FILE</span>
      <div class="w-100"></div>
      <input type="file" id="video" name="video" class="btn btn-danger">
    </div>
    

    

    <div class="col">
      <span class="badge badge-warning">SRT FILE</span>
      <div class="w-100"></div>
      <input type="file" id="srt" name="srt" class="btn btn-danger" />
    </div>

    <div class="col-2 align-self-end">
      <input type="button" ng-click="upload()" value="Upload Files"class="btn btn-warning" />
    </div>
     
    <div class="col-2 align-self-end">
      <input type="button" ng-click="process()" ng-show="uploadedSuccessfully" value="Process Video" class="btn btn-primary"/>
    </div>
    <!-- <div class="w-100"></div>  -->
    <div class="w-100"></div>


    <div ng-if="!isLoaded" id="loading-container" class="col-4 align-self-end offset-4 mt-5">
      <div id="loading-inner">
          <img src="http://loadinggif.com/images/image-selection/27.gif" />
      </div>
    
    

      
    </div>
   
    

    <!-- ng-show="uploadedSuccessfully"  -->
   
</div>



</div>

<div ng-show="dataReceived" class="mt-5">

  <table >
    <tr>
      <th>CHUNK</th>
      <th>START TIME</th>
      <th>END TIME</th>
      <th>VIDEO SEQUENCE NUMBER</th>
      <th>SUBTITLE</th>
      <th>AUDIO</th>
      <th>AUDIO RE-UPLOAD</th>
    </tr>
    <tr ng-repeat="chunk in processResponse.chunks">
      <td>{{ chunk.me }}</td>
      <td>{{ chunk.startTime }}</td>
      <td>{{ chunk.endTime }}</td>
      <td><a href="{{ chunk.videoChunkLocalPath }}" target="_blank">{{ chunk.videoChunkName }}</a></td>
      <td>{{ chunk.subtitleChunk }}</td>
      <td><a href="{{ chunk.audioChunkLocalPath }}" target="_blank">{{ chunk.audioChunkName }}</a></td>

      <td>

        <div ng-controller="uploadCtrl" class="btn btn-danger" >
          
          <input type="file" file-model="myFile" />
          <button ng-click="uploadFile(chunk.id)" class="btn btn-warning">upload</button>
          <div ng-if="invalidFileType" class="reupload-file-message">
            <p>Invalid file type. please upload a mp3 file</p>
          </div>
          <div ng-if="clickedOnUploadButton" class="reupload-file-message">
            <p>uploaded successfully click compile at the bottom.</p>
          </div>
       
        </div>
     
      </td>

    </tr>
  </table>

  <div class="btn-controls-bottom">
    <div ng-if="!isCompiled" id="loading-container" class="compile-loading">
      <div id="loading-inner">
          <img src="http://loadinggif.com/images/image-selection/27.gif" />
      </div>
    </div>
    <div>
      <button  class="btn btn-warning mt-4 btn-custom" ng-click="compile()">COMPILE</button>
      <a target="_blank" ng-if="downloadReady" href="{{downloadFilePath}}" class="btn btn-primary mt-4 ml-4 btn-custom" ng-click="compile()" download>DOWNLOAD TUTORIAL</a>
    </div>
    
    
  </div>


</div>


</div>


</body>
</html>