.header {
    margin-bottom: 20px;

    border-radius: 25px;
    margin-left: auto;
}

.btn-custom{
    margin : 20px;
}

.reupload-file-message{
    color:black;
}

.error-message{
    margin:30px;
}

.compile-loading{
  text-align:center;
}

.btn-controls-top{
  border-radius: 25px;
  padding:20px;
  height:auto;
  width:auto;
  background-color: #d6cece;
}

.btn-controls-bottom{
  margin-top:10px;
  margin-bottom:20px;
  border-radius: 25px;
  padding:20px;
  height:auto;
  width:auto;
  background-color: #d6cece;
}

  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

.container{
    background-color: #F0F0F0;
    height:100vh;
    padding: 10px;
}